@model TransCanada.Models.Employee_Model

@{
    ViewBag.Title = "Errorpage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3><font color=" red">Sorry</h3>
<h2><font color="brown">There is Some error occured while processing your request!...</font></h2>

