
@{
    ViewBag.Title = "Errorpage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Errorpage</h2>

<h2><font color="red">Sorry !</font></h2>
<h3><font color="Brown">There is some error occured while Processing your request...</font></h3>

@*Click
    <a href="/Index1/Home">here</a> to go to home page!*@

